@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
    --clr-menu: #607d8b;
    --clr-black: #190146;
    --clr-white: #f2ebd9;
    --clr-accent: #2980b9;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.imglogo {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: "Bricolage Grotesque", sans-serif;
}

#toggle {
    display: none;
}

#label_toggle { 
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
}

.header {
    background-color: var(--clr-menu);
    color: var(--clr-white);
    padding-block: 1rem;
}

.main {
    flex: 1;
    padding-block: 2rem;
}

.titulo {
    font-size: 35px;
    font-weight: bold;
    margin-left: auto;
    text-decoration: underline;

}



.footer {
    background-color: var(--clr-menu);
    color: var(--clr-white);
    padding-block: 2rem;
    text-align: center;
}

.btn{
    color: white;
    background: darkgoldenrod;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.5s, color 0.3s;
  }
  
  body.dark-mode {
    background-color: #1b0737;
    color: white;
    transition: background-color 0.5s, color 0.3s;
  }
  
  body.dark-mode header {
    background-color: var(--clr-black);
    color: white;
  }
  
  body.dark-mode footer {
    background-color: var(--clr-black);
    color: white;
    transition: background-color 0.5s, color 0.3s;
  }
  